In [6]:
import pandas as pd
import numpy as np

In [2]:
code = pd.DataFrame({'code2':[1,2,3,4],'code1':['a','b','c','d']})
code

  code1  code2
0     a      1
1     b      2
2     c      3
3     d      4

In [3]:
hoge = pd.DataFrame({'nums':['a','b','c','d','e'],'chinko':['あ','い','う','え','お']})
hoge

  chinko nums
0      あ    a
1      い    b
2      う    c
3      え    d
4      お    e

In [4]:
code.index = code.code1
temp = code.to_dict()

In [7]:
hoge.loc[~ hoge.nums.isin(list(code.code1))] = np.nan
hoge

  chinko nums
0      あ    a
1      い    b
2      う    c
3      え    d
4    NaN  NaN

In [8]:
hoge.replace({'nums':temp['code2']})

  chinko  nums
0      あ   1.0
1      い   2.0
2      う   3.0
3      え   4.0
4    NaN   NaN

In [ ]:
import numpy as np
df = pd.DataFrame({'col2': {0: 'a', 1: 2, 2: np.nan}, 'col1': {0: 'w', 1: 1, 2: 2}})
df

In [ ]:
di = {1: "A", 2: "B"}

In [ ]:
df.replace({"col1": di})

In [ ]:
https://qiita.com/bearshu11/items/1a169c0aec99b5bac6f3